.jumbotron
  %h1 Buy Some Karz Plz KThx.
  %p.lead
    Plz buy sum KARZ frum uz plz. We r eetin' ramin. We ned sum educashinz.
  %p
    = link_to "Buy sum karz tdaay", vehicles_path, class: "btn btn-lg btn-success", role: "button"
.row.marketing
