%ul.nav.nav-pills.pull-right
  %li{ class: active_tab("welcome") }
    = link_to "Home", root_path
  %li{ class: active_tab("vehicles") }
    = link_to "Karz", vehicles_path
  %li{ class: active_tab("options") }
    = link_to "Optiiiinz", options_path
